<a href="https://colab.research.google.com/github/SyamChaithanya/SyamChaithanya/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

UNDERSTANDING THE DATA

In [2]:
data=pd. read_csv("Literacy Data 2011.csv")

In [3]:
data.head()

   Unnamed: 0                     District         State  Literacy
0           1                        Thane   Maharashtra     84.53
1           2   North Twenty Four Parganas   West Bengal     84.06
2           3                    Bangalore     Karnataka     87.67
3           4                         Pune   Maharashtra     86.15
4           5              Mumbai Suburban   Maharashtra     89.91

In [4]:
data.tail()

     Unnamed: 0          District                         State  Literacy
635         636          Nicobars   Andaman And Nicobar Islands     78.06
636         637       Upper Siang             Arunachal Pradesh     59.99
637         638   Lahul and Spiti              Himachal Pradesh     76.81
638         639             Anjaw             Arunachal Pradesh     56.46
639         640     Dibang Valley             Arunachal Pradesh     64.10

In [5]:
data.shape

(640, 4)

In [6]:
data.describe()

       Unnamed: 0    Literacy
count  640.000000  640.000000
mean   320.500000   72.308422
std    184.896367   10.488816
min      1.000000   36.100000
25%    160.750000   65.095000
50%    320.500000   72.170000
75%    480.250000   79.962500
max    640.000000   97.910000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  640 non-null    int64
 1   District    640 non-null    object
 2   State       640 non-null    object
 3   Literacy    640 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 20.1+ KB

In [8]:
data['State'].value_counts()

 Uttar Pradesh                  71
 Madhya Pradesh                 50
 Bihar                          38
 Maharashtra                    35
 Rajasthan                      33
 Tamil Nadu                     32
 Karnataka                      30
 Orissa                         30
 Assam                          27
 Gujarat                        26
 Jharkhand                      24
 Andhra Pradesh                 23
 Jammu and Kashmir              22
 Haryana                        21
 Punjab                         20
 West Bengal                    19
 Chhattisgarh                   18
 Arunachal Pradesh              16
 Kerala                         14
 Uttarakhand                    13
 Himachal Pradesh               12
 Nagaland                       11
 Manipur                         9
 Delhi                           9
 Mizoram                         8
 Meghalaya                       7
 Puducherry                      4
 Tripura                         4
 Sikkim                          4
 Andaman And Nicobar Islands     3
 Daman and Diu                   2
 Goa                             2
 Lakshadweep                     1
 Chandigarh                      1
 Dadra and Nagar Haveli          1
Name: State, dtype: int64

In [9]:
data["State"].value_counts()[0:10]

 Uttar Pradesh     71
 Madhya Pradesh    50
 Bihar             38
 Maharashtra       35
 Rajasthan         33
 Tamil Nadu        32
 Karnataka         30
 Orissa            30
 Assam             27
 Gujarat           26
Name: State, dtype: int64

In [10]:
data=data.sort_values(by=['Literacy'],ascending=False)
data

     Unnamed: 0         District            State  Literacy
625         626         Serchhip          Mizoram     97.91
557         558           Aizawl          Mizoram     97.89
634         635             Mahe       Puducherry     97.87
233         234         Kottayam           Kerala     97.21
397         398   Pathanamthitta           Kerala     96.55
..          ...              ...              ...       ...
391         392     Nabarangapur           Orissa     46.43
439         440           Jhabua   Madhya Pradesh     43.30
539         540        Dantewada     Chhattisgarh     42.12
580         581          Bijapur     Chhattisgarh     40.86
497         498        Alirajpur   Madhya Pradesh     36.10

[640 rows x 4 columns]

In [11]:
Data=data.head(10)
Data

     Unnamed: 0         District        State  Literacy
625         626         Serchhip      Mizoram     97.91
557         558           Aizawl      Mizoram     97.89
634         635             Mahe   Puducherry     97.87
233         234         Kottayam       Kerala     97.21
397         398   Pathanamthitta       Kerala     96.55
609         610         Champhai      Mizoram     95.91
103         104        Ernakulam       Kerala     95.89
214         215        Alappuzha       Kerala     95.72
169         170           Kannur       Kerala     95.10
109         110         Thrissur       Kerala     95.08

In [12]:
Data2=data.head(20)
Data2

     Unnamed: 0             District         State  Literacy
625         626             Serchhip       Mizoram     97.91
557         558               Aizawl       Mizoram     97.89
634         635                 Mahe    Puducherry     97.87
233         234             Kottayam        Kerala     97.21
397         398       Pathanamthitta        Kerala     96.55
609         610             Champhai       Mizoram     95.91
103         104            Ernakulam        Kerala     95.89
214         215            Alappuzha        Kerala     95.72
169         170               Kannur        Kerala     95.10
109         110             Thrissur        Kerala     95.08
113         114            Kozhikode        Kerala     95.08
152         153               Kollam        Kerala     94.09
49           50           Malappuram        Kerala     93.57
619         620              Kolasib       Mizoram     93.50
102         103   Thiruvananthapuram        Kerala     93.02
415         416               Idukki        Kerala     91.99
626         627          Lakshadweep   Lakshadweep     91.85
252         253        Kanniyakumari    Tamil Nadu     91.75
590         591           Mokokchung      Nagaland     91.62
28           29              Chennai    Tamil Nadu     90.18